{{ with site.Home.GetPage "call-to-action" }}
  {{ $p := .Params }}
  {{ if $p.enable }}
  <section class="section pb-0 call-to-action call-to-action-2">
    <div class="container container-delta">
      <div class="row">
        <div class="col-lg-12">
          <div class="block bg-white rounded-lg shadow">
            <div class="row g-0 align-items-center">
              <div class="col-lg-8">
                <div class="content-block">
                  <h3 class="mb-2">{{ $p.title | markdownify }}</h3>
                  <p class="mb-4">{{ $p.subtitle | markdownify }}</p>
                  {{ if $p.button_label }}
                    <a href="{{ $p.button_link | relLangURL }}" class="btn btn-primary">
                      {{ $p.button_label }} <i class="arrow-right fas fa-arrow-right"></i>
                    </a>
                  {{ end }}
                </div>
              </div>

              {{ with $p.image }}
                <div class="col-lg-4">
                  {{ $src := . }}
                  {{ with resources.Get $src }}
                    {{ $img := .Resize "425x" }}
                    {{ $webp := $img.Resize "425x webp" }}
                    <img loading="lazy" decoding="async" class="rounded-lg img-fluid"
                         width="{{ $img.Width }}" height="{{ $img.Height }}"
                         src="{{ $webp.RelPermalink }}" alt="cta Image"
                         onerror="this.onerror=null;this.src='{{ $img.RelPermalink }}'">
                  {{ else }}
                    <img loading="lazy" decoding="async" class="rounded-lg img-fluid"
                         src="{{ $src | relURL }}" alt="cta Image">
                  {{ end }}
                </div>
              {{ end }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
